body {
  background-color: #3e56cf;
}

.top-bar {
  color: #2b18a3;
  text-align: center;
  background-color: #459cc4;
  padding: 0.8%;
}

.title {
  color: #0b0f99;
  text-align: center;
}

.tuna-post {
  background-color: red;
  height: 70vh;
  width: 60vw;
  margin: 15px auto;
}

.puffer-post {
  background-color: red;
  height: 70vh;
  width: 60vw;
  margin: 15px auto;
}

.jelly-post {
  background-color: red;
  height: 70vh;
  width: 60vw;
  margin: 15px auto;
}
