body {
  background-color: cornflowerblue;
  font-family: "Baloo 2", cursive;
  font-family: "Varela Round", sans-serif;
}

.top-bar {
  color: #8375e0;
  font-size: 60px;
  text-align: center;
  background-image: url(img/Pastel\ Fish.jpg);
  background-size: cover;
  padding: 10%;
}

.title {
  color: #293a93;
  font-size: 30px;
  text-align: center;
}

.puffer-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
}

.puffer-post {
  font-size: 30px;
  text-align: center;
}

.puffer-writing {
  font-size: 25px;
  text-align: center;
}

.jelly-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
}

.jelly-post {
  font-size: 30px;
  text-align: center;
}

.jelly-writing {
  font-size: 25px;
  text-align: center;
}

.tuna-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
}

.tuna-post {
  font-size: 30px;
  text-align: center;
}
.tuna-writing {
  font-size: 25px;
  text-align: center;
}

.jelly-blurb img {
  width: 600px;
}
