body {
  background-color: cornflowerblue;
  font-family: "Baloo 2", cursive;
  font-family: "Varela Round", sans-serif;
}

#main-header {
  color: #293a93;
  font-size: 60px;
  text-align: center;
  background-image: url(img/better\ fish\ banner.jpg);
  background-size: cover;
  padding: 10%;
}

.title {
  color: #293a93;
  font-size: 30px;
  text-align: center;
}

.puffer-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
  border-radius: 20px;
}

.puffer-blurb img {
  border-radius: 0;
  max-width: 55%;
  height: auto;
}

.puffer-post {
  font-size: 30px;
  text-align: center;
}

.puffer-writing {
  font-size: 15px;
  text-align: center;
}

.jelly-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
  border-radius: 20px;
}

.jelly-blurb img {
  border-radius: 0;
  max-width: 55%;
  height: auto;
}

.jelly-post {
  font-size: 30px;
  text-align: center;
}

.jelly-writing {
  font-size: 15px;
  text-align: center;
}

.tuna-blurb {
  background-color: rgb(160, 234, 245);
  height: 70vh;
  width: 50vw;
  margin: 15px auto;
  border-radius: 20px;
}

.images {
  border-radius: 0;
  max-width: 55%;
  height: auto;
  position: relative;
  left: 22.5%;
  bottom: 5%;
}

.blurb-headers {
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}
.tuna-writing {
  font-size: 15px;
  text-align: center;
}

a {
  margin-bottom: 25px;
  margin-left: 39.5%;
}
